.footer{
  /*height: 45px;*/
  padding-top: 4px;
  background: rgba(255,255,255,0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 1px #D2D2D0;
}

.footer .nav-item{
  display: inline-block;
  width: 32%;
  text-align: center;
  color: #a3a3a1;
  font-size: 12px;
  cursor: pointer;
}

.footer .nav-item.selected{
  color: #795548;
}